
body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-image: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?t=st=1653265820~exp=1653266420~hmac=92705054972234567782cccbf1b837bf244a9f3c612088937c0d02e7f5c03539&w=826");
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  padding: 50px;
  margin: 0;
  text-align: center;
  background-color: #FFFFCC;
}

.flexHeader {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;  
}



a {
  color: #00B7FF;
}

body select {
  padding: 10px 70px 10px 13px;
  max-width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
  background-color: #fff;
  color: #444444;
  line-height: 16px;
  appearance: none;
  /* this is must */ -webkit-appearance: none;
  -moz-appearance: none;
}

/* body select.select_box option */
body select option {
  padding: 0 4px;
}

/* for Edge */
select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

#leftbox {
 float: left;
 text-align: center;
 margin-right: 3cm;
}
#middlebox{
 float: right;
  text-align: center;
  margin-left: 1cm;
  margin-right: 1cm;
}
#rightbox{
 float: left;
  text-align: center;
  margin-left: 1cm;
  margin-right: 1cm;
}
#boxes {
 float: center;
  width: 100%;
  height: 100px;
}

#s1, #s2, #s3 {
font-weight: bold;
font-size: 180px;
color: #1D475C;
}

#pmd {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  color: #2195CE;
}

.select_box {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 17px;
  background: #00B7FF;
  border-color: black;
  font-weight: bold;
  border-width: 2px;
  color: black;
}
#txt {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
} 

html {
  font-size: 1em;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
} 
